<!-- Inclure le header -->
<% include ./components/statics/header %>

<h1>Ajouter un article</h1>

<% include ./components/forms/add-post-form %>

<!-- Inclure le footer -->
<% include ./components/statics/footer %>